kestra/agentflow.yml
id: pr-review-agent
namespace: agentflow

description: AI-powered Pull Request Review Agent for AgentFlow Pro

inputs:
  - id: prNumber
    type: INT
    defaults: 123
  
  - id: repository
    type: STRING
    defaults: "owner/repo"
  
  - id: prTitle
    type: STRING
    defaults: "Sample PR"
  
  - id: author
    type: STRING
    defaults: "developer"
  
  - id: filesChanged
    type: INT
    defaults: 0

tasks:
  - id: analyze_pr
    type: io.kestra.plugin.scripts.shell.Commands
    runner: PROCESS
    commands:
      - |
        cat <<'EOF'
        {
          "summary": "This pull request introduces significant improvements to the codebase. The changes focus on refactoring core components, adding comprehensive test coverage, and optimizing performance.",
          "filesGrouped": {
            "code": ["src/components/Button.tsx", "src/utils/helper.ts"],
            "tests": ["tests/button.test.tsx"],
            "docs": ["README.md"]
          },
          "risks": [
            "Large diff size may indicate complex changes that need thorough review",
            "Database schema modifications require careful migration testing",
            "Breaking API changes could affect downstream consumers"
          ],
          "checklist": [
            "CI checks are passing",
            "At least 1 reviewer approved",
            "Test coverage updated",
            "Documentation updated"
          ],
          "shouldMerge": true,
          "explanation": "The PR demonstrates solid engineering practices with clear documentation and comprehensive tests.",
          "lintSummary": "Lint: No errors detected"
        }
        EOF

outputs:
  - id: result
    type: STRING
    value: "{{ outputs.analyze_pr.outputFiles['stdout'] }}"